label{
    display:block;
    padding: 20px;
}
body{
    background-color:antiquewhite;
    text-align: center;
}
form{
    text-align: center;
    background-color: skyblue;
    margin:0px 400px 0px 400px;

}
h1{
    text-align: center;
}
#submit{
    padding: 10px;
}
input[type=submit]{
    background-color: beige;
}
input[type=submit]:hover{
    background-color: pink;
}
